* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EEE;
}

.container{
    width: 95vw;
    margin: auto;
    background: #fff;
}

.past_matches{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.past_matches h1{
    width: 100%;
}

.match{
    width: 25em;
    padding: 2em;
    margin: 0.5em;
    flex-grow: 1.05;
    background: #EEE;
    max-width: 40em;
}
.match h2,h3{
    display: inline-block;
    width: 50%;
}

.match h3{
    position: relative;
    left: 5em;
}

.match h4{
    margin-left: 4em;
    margin-top: 1em;
}

.match button{
    padding: 1em;
    margin-top: 1.5em;
    width: 12em;
    margin-left: 4em;
    font-size: 0.9em;
}

.match input{
    margin: 1em;
    width: 3em;
    padding: 0.7em 0.2em;
    font-size: 1.2em;
}

.hidden{
    display: none;
}

.upcoming_matches{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
}

.upcoming_matches h1{
    flex-basis: 100%;
}

.upcoming_matches .match{
    flex-grow: 1.2;
}

.upcoming_matches h3{
    
    width: 80%;
    padding: 1em;
    color: rgb(24, 87, 87);
}